<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/a-c-c-o-u-n-t.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="account" id="aCCOUNTContainer">
      <div class="navigation">
        <img class="navigation-child" loading="lazy" alt="" />

        <div class="information">
          <img
            class="information-child"
            loading="lazy"
            alt=""
            src="{% static './public/group-23@2x.png' %}"
          />
        </div>
        <div class="navigation-content">
          <div class="dashboard-container">
            <div class="dashboard2">Dashboard</div>
          </div>
        </div>
        <div class="rates-display">
          <div class="rates1">Rates</div>
        </div>
        <div class="navigation-content1">
          <div class="buywithdraw-container">
            <div class="buywithdraw1">Buy/withdraw</div>
          </div>
        </div>
        <div class="transfer-display">
          <div class="transfer2">Transfer</div>
        </div>
        <nav class="profile-settings">
          <div class="profile-content">
            <div class="kyc2">KYC</div>
          </div>
          <input class="profile-content1" placeholder="Account" type="text" />

          <div class="profile-settings-inner">
            <div class="wrapper-group-1171274900-container">
              <div class="wrapper-group-11712749002">
                <img
                  class="wrapper-group-1171274900-inner"
                  alt=""
                  src="{% static './public/group-1171274900.svg' %}"
                />
              </div>
              <img
                class="coinsrafiki-icon2"
                loading="lazy"
                alt=""
                src="{% static './public/coinsrafiki.svg' %}"
              />

              <div class="frame-wrapper15">
                <div class="vector-parent2">
                  <img
                    class="frame-child24"
                    alt=""
                    src="{% static './public/rectangle-40505.svg' %}"
                  />

                  <div class="enjoy-your-best2">Enjoy your best</div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-settings-child">
            <button class="rectangle-parent2">
              <div class="frame-child25"></div>
              <div class="log-out2">Log out</div>
            </button>
          </div>
        </nav>
      </div>
      <main class="contact-content-parent">
        <section class="contact-content">
          <img class="image-9-icon" alt="" src="{% static './public/image-9@2x.png' %}" />

          <button class="image-container">
            <img
              class="whatsapp-image-2023-01-29-at-6"
              alt=""
              src="{% static './public/whatsapp-image-20230129-at-621-17@2x.png' %}"
            />
          </button>
        </section>
        <div class="user-details">
          
          <div class="user-detail-labels2">
            <div class="phone-number">Full name</div>
            <div class="wrapper1">
              <input class="input" placeholder="Full name" type="text" />
            </div>
          </div>
         
          <div class="user-detail-labels2">
            <div class="phone-number">Email</div>
            <div class="wrapper1">
              <input class="input" placeholder="email" type="text" />
            </div>
          </div>
         <div class="user-detail-labels2">
            <div class="phone-number">Phone Number</div>
            <div class="wrapper1">
              <input class="input" placeholder="08014102573" type="text" />
            </div>
          </div>
          
           <div class="user-detail-labels2">
            <div class="password">password</div>
            <div class="wrapper1">
              <input class="input" placeholder="" type="password" />
            </div>
          </div>
         
          <button class="group-group">
            <img class="group-icon3" alt="" src="{% static './public/group-1.svg' %}" />

            <div class="edit">Edit</div>
          </button>
        </div>
      </main>
    </div>

    <script>
      var aCCOUNTContainer = document.getElementById("aCCOUNTContainer");
      if (aCCOUNTContainer) {
        aCCOUNTContainer.addEventListener("click", function (e) {
          // Please sync "settingprofile" to the project
        });
      }
      </script>
  </body>
</html>
