<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="homepage">
      <section class="main-container">
        <div class="body-wrapper">
          <header class="content-box">
            <div class="navigation-area">
              <img
                class="navigation-area-child"
                loading="lazy"
                alt=""
                src="{% static './public/group-3@2x.png' %}"
              />

              <div class="action-buttons">
                <div class="auth-options">
                  <button class="rectangle-parent">
                    <div class="frame-child"></div>
                    <div class="sign-up">Sign up</div>
                  </button>
                  <button class="rectangle-group">
                    <div class="frame-item"></div>
                    <div class="log-in">Log in</div>
                  </button>
                </div>
              </div>
            </div>
          </header>
          <div class="central-panel">
            <div class="info-block-parent">
              <div class="info-block">
                <div class="intro-area">
                  <div class="home-button-parent">
                    <div class="home-button">
                      <div class="home">Home</div>
                    </div>
                    <div class="service-block">
                      <div class="services">Services</div>
                      <img
                        class="image-8-icon"
                        loading="lazy"
                        alt=""
                        src="{% static './public/image-8@2x.png' %}"
                      />
                    </div>
                  </div>
                </div>
                <h3 class="quofix-abritrage-investment">
                  QUOFIX ABRITRAGE INVESTMENT
                </h3>
              </div>
              <h1 class="nigeria-first-and-container">
                <span>
                  <p class="nigeria-first-and">
                    Nigeria first and private arbitrage
                  </p>
                  <p class="platform">platform</p>
                </span>
              </h1>
            </div>
            <div class="div-illustration-center-wrapper">
              <div class="div-illustration-center">
                <div class="divkuda-phone-illustration">
                  <div class="button-animation">
                    <div class="button-animation1">
                      <img class="svg-icon" alt="" src="{% static './public/svg@2x.png' %}" />

                      <img
                        class="svg-icon1"
                        alt=""
                        src="{% static './public/svg-1@2x.png' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="about">About</div>
      <section class="arbitrage-explanation">
        <div class="arbitrage-info">
          <h1 class="benefits-of-using">
            Benefits Of Using Our Arbitrage Platform
          </h1>
          <div class="arbitrage-benefit">
            <div class="explanation-blocks">
              <div class="block-row-one">
                <img
                  class="block-row-one-child"
                  loading="lazy"
                  alt=""
                  src="{% static './public/group-1171275066.svg' %}"
                />
              </div>
              <div class="quofix-arbitrage-made-easy-wrapper">
                <h3 class="quofix-arbitrage-made">
                  Quofix arbitrage made easy
                </h3>
              </div>
              <div class="job-application-description">
                <div class="applying-for-multiple">
                  Applying for multiple jobs means writing multiple cover
                  letters. Our Cover Letter Builder makes it quick and easy to
                  customize cover letters, regardless of how many you write.
                </div>
              </div>
            </div>
            <div class="price-advantage-block">
              <div class="price-advantage-block-inner">
                <img
                  class="frame-inner"
                  alt=""
                  src="{% static './public/group-1171275066-1.svg' %}"
                />
              </div>
              <div class="take-advantage-of-price-differ-wrapper">
                <h3 class="take-advantage-of">
                  Take Advantage of Price Differences
                </h3>
              </div>
              <div class="writer-block">
                <div class="writers-block-begone">
                  Writer’s block, begone! Our Cover Letter Builder does the work
                  for you with professionally written text and keyword
                  suggestions that get your letter written in minutes.
                </div>
              </div>
            </div>
          </div>
          <div class="arbitrage-benefit1">
            <div class="frame-parent">
              <div class="frame-wrapper">
                <img
                  class="group-icon"
                  alt=""
                  src="{% static './public/group-1171275066-2.svg' %}"
                />
              </div>
              <div class="buy-euro-at-500-and-sell-wrapper">
                <h3 class="buy-euro">
                  Buy euro (€) at #500 and sell it for profit at #1500
                </h3>
              </div>
              <div class="our-beautifully-designed-cover-wrapper">
                <div class="our-beautifully-designed">
                  Our beautifully designed cover letter templates automatically
                  handle the formatting as you work. Plus, our built-in
                  spell-check feature helps ensure an error-free letter.
                </div>
              </div>
            </div>
            <div class="frame-group">
              <div class="frame-container">
                <img
                  class="frame-child1"
                  alt=""
                  src="{% static './public/group-1171275066-3.svg' %}"
                />
              </div>
              <div class="proven-success-wrapper">
                <h3 class="proven-success">Proven Success</h3>
              </div>
              <div class="applying-for-multiple-jobs-mea-wrapper">
                <div class="applying-for-multiple-container">
                  <p class="thousands-of-job">
                    Thousands of job seekers have successfully built cover
                    letters using Coverly Cover Letter Builder to get the jobs
                    they want.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="app-promotion">
        <div class="promotion-content">
          <div class="div-entry-inner-wrapper">
            <div class="div-entry-inner">
              <div class="divkuda-section-50">
                <div class="divkuda-main-wrap">
                  <div class="heading-1">
                    <h1 class="the-best-arbitrage-container">
                      <p class="the-best-arbitrage">The Best Arbitrage</p>
                      <p class="app-for-you">App For You</p>
                    </h1>
                  </div>
                  <div class="pcolor-black">
                    <div class="best-money-exchange">
                      Best money exchange platform
                    </div>
                  </div>
                  <button class="link">
                    <b class="join-quofix">
                      <a
                        class="join-q"
                        href="https://kuda.com/joinKuda/"
                        target="_blank"
                        >Join Q</a
                      >
                    </b>
                  </button>
                </div>
              </div>
              <img
                class="clip-path-group"
                loading="lazy"
                alt=""
                src="{% static './public/clip-path-group@2x.png' %}"
              />
            </div>
          </div>
          <div class="what-others-are-saying-parent">
            <h1 class="what-others-are">What Others Are Saying...</h1>
            <div class="testimonial-content">
              <div class="comment-block">
                <div class="i-am-impressed">
                  I am impressed by the strength of exchanging currency
                  easily,quofix is fire.
                </div>
                <div class="user-block">
                  <img
                    class="sonymusic-authorpng-icon"
                    loading="lazy"
                    alt=""
                    src="{% static './public/sonymusic-authorpng@2x.png' %}"
                  />

                  <div class="lulu-lavish">Lulu Lavish</div>
                  <div class="ceo-lavish-arts">CEO, Lavish Arts</div>
                </div>
              </div>
              <div class="comment-block1">
                <div class="there-are-so">
                  There are so many options of currency to choose man this is
                  lit.
                </div>
                <div class="frame-div">
                  <button class="sonymusic-authorpng-wrapper">
                    <img
                      class="sonymusic-authorpng-icon1"
                      alt=""
                      src="{% static './public/sonymusic-authorpng-1@2x.png' %}"
                    />
                  </button>
                  <div class="abdul-kunle-zainab">Abdul-Kunle Zainab</div>
                  <div class="demi-god-of-christ">
                    Demi-god of Christ embassy
                  </div>
                </div>
              </div>
              <div class="comment-block2">
                <div class="really-easy-way">
                  Really easy way to fund, transfer funds and do swift exchange
                  process with ease.
                </div>
                <div class="sonymusic-authorpng-parent">
                  <img
                    class="sonymusic-authorpng-icon2"
                    alt=""
                    src="{% static './public/sonymusic-authorpng-2@2x.png' %}"
                  />

                  <div class="brvo">Br@vo</div>
                  <div class="ceo-myogba-tv">CEO, myogba Tv</div>
                </div>
              </div>
              <div class="comment-block3">
                <div class="quick-and-easy">
                  Quick and easy way to not loose fund.
                </div>
                <div class="sonymusic-authorpng-group">
                  <img
                    class="sonymusic-authorpng-icon3"
                    alt=""
                    src="{% static './public/sonymusic-authorpng-3@2x.png' %}"
                  />

                  <div class="poxy-posh">Poxy Posh</div>
                  <div class="president-edu-association">
                    President, Edu Association
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="company-values">
        <div class="content-wrapper-parent">
          <div class="content-wrapper">
            <div class="values-block">
              <div class="value-icons">
                <img
                  class="group-icon1"
                  loading="lazy"
                  alt=""
                  src="{% static './public/group@2x.png' %}"
                />
              </div>
              <div class="values-header">
                <h1 class="our-values">Our Values</h1>
              </div>
              <div class="quofix-arbritrage-investment">
                Quofix Arbritrage investment is a private one of the most
                popular cryptocurrencies in the market. First introduced in 2009
                by Satoshi Nakamoto, Bitcoin has held the crypto market’s number
                one
              </div>
            </div>
          </div>
          <div class="values">
            <div class="content-rows">
              <div class="content">
                <img
                  class="vector-image-icon"
                  loading="lazy"
                  alt=""
                  src="{% static './public/vector-image.svg' %}"
                />

                <div class="content1">
                  <div class="collaboration">Collaboration</div>
                  <div class="organically-grow-the">
                    Organically grow the holistic world view of disruptive
                    innovati workplace diversity empowerment.
                  </div>
                </div>
              </div>
            </div>
            <div class="content-rows1">
              <div class="content2">
                <img class="icon" loading="lazy" alt="" src="{% static './public/02.svg' %}" />

                <div class="content3">
                  <div class="user-focused">User-Focused</div>
                  <div class="organically-grow-the1">
                    Organically grow the holistic world view of disruptive
                    innovati workplace diversity empowerment.
                  </div>
                </div>
              </div>
            </div>
            <div class="content-rows2">
              <div class="content4">
                <img
                  class="icon1"
                  loading="lazy"
                  alt=""
                  src="{% static './public/03.svg' %}"
                />

                <div class="content5">
                  <div class="freedom">Freedom</div>
                  <div class="organically-grow-the2">
                    Organically grow the holistic world view of disruptive
                    innovati workplace diversity empowerment.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="why-us-wrapper">
        <div class="why-us">
          <div class="feature-header">
            <h1 class="fully-featured-to-container">
              <span>Fully featured to buy, trade and invest in Quofix </span>
              <span class="abritrage">Abritrage</span>
            </h1>
          </div>
          <div class="feature-details">
            <div class="detail-rows">
              <img
                class="background-icon"
                alt=""
                src="{% static './public/background.svg' %}"
              />

              <img
                class="icon2"
                loading="lazy"
                alt=""
                src="{% static './public/icon.svg' %}"
              />

              <div class="feature-descriptions">
                <div class="real-time-trading">Real-time trading</div>
                <div class="organically-grow-the3">
                  Organically grow the holistic world view of disruptive
                  innovati workplace diversity empowerment.
                </div>
              </div>
            </div>
            <div class="detail-rows1">
              <img
                class="background-icon1"
                alt=""
                src="{% static './public/background-1.svg' %}"
              />

              <img class="icon3" alt="" src="{% static './public/icon-1.svg' %}" />

              <div class="easy-to-create-wallet-parent">
                <div class="easy-to-create">Easy to create wallet</div>
                <div class="organically-grow-the4">
                  Organically grow the holistic world view of disruptive
                  innovati workplace diversity empowerment.
                </div>
              </div>
            </div>
            <div class="detail-rows2">
              <img
                class="background-icon2"
                alt=""
                src="{% static './public/background-2.svg' %}"
              />

              <img class="icon4" alt="" src="{% static './public/icon-2.svg' %}" />

              <div class="safe-secure-parent">
                <div class="safe-secure">Safe & secure</div>
                <div class="organically-grow-the5">
                  Organically grow the holistic world view of disruptive
                  innovati workplace diversity empowerment.
                </div>
              </div>
            </div>
            <div class="detail-rows3">
              <img
                class="background-icon3"
                alt=""
                src="{% static './public/background-3.svg' %}"
              />

              <div class="icon5">
                <div class="rectangle"></div>
                <img
                  class="icon-graphic"
                  alt=""
                  src="{% static './public/icon-graphic.svg' %}"
                />
              </div>
              <div class="super-fast-kyc-parent">
                <div class="super-fast-kyc">Super Fast KYC</div>
                <div class="organically-grow-the6">
                  Organically grow the holistic world view of disruptive
                  innovati workplace diversity empowerment.
                </div>
              </div>
            </div>
            <div class="detail-rows4">
              <div class="background"></div>
              <img
                class="background-icon4"
                alt=""
                src="{% static './public/background-4.svg' %}"
              />

              <img class="icon6" alt="" src="{% static './public/icon-3.svg' %}" />

              <div class="send-receive-anytime-parent">
                <div class="send-receive">Send & receive anytime</div>
                <div class="organically-grow-the7">
                  Organically grow the holistic world view of disruptive
                  innovati workplace diversity empowerment.
                </div>
              </div>
            </div>
            <div class="detail-rows5">
              <div class="background1"></div>
              <img
                class="background-icon5"
                alt=""
                src="{% static './public/background-5.svg' %}"
              />

              <img class="icon7" alt="" src="{% static './public/icon-4.svg' %}" />

              <div class="reports-analytics-parent">
                <div class="reports-analytics">Reports & analytics</div>
                <div class="organically-grow-the8">
                  Organically grow the holistic world view of disruptive
                  innovati workplace diversity empowerment.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="div-section-wrapper">
        <div class="div-section">
          <div class="divkuda-section-inner">
            <div class="divkuda-section-100">
              <div class="heading-11">
                <h1 class="our-partners">Our Partners</h1>
              </div>
              <div class="divkuda-publication-wrap">
                <div class="image">
                  <div class="image-fill">
                    <img
                      class="image-icon"
                      loading="lazy"
                      alt=""
                      src="{% static './public/image.svg' %}"
                    />
                  </div>
                </div>
                <div class="entreecapital-af919d4ffd7d5cef">
                  <div class="entreecapital-af919d4ffd7d5cef1">
                    <img
                      class="entreecapital-af919d4ffd7d5cef-icon"
                      loading="lazy"
                      alt=""
                      src="{% static './public/entreecapitalaf919d4ffd7d5cef28085ee2a9085519svg@2x.png' %}"
                    />
                  </div>
                </div>
                <div class="sbiholdings-32de2b58b5a5d5a406">
                  <div class="sbiholdings-32de2b58b5a5d5a4061">
                    <img
                      class="sbiholdings-32de2b58b5a5d5a406-icon"
                      loading="lazy"
                      alt=""
                      src="{% static './public/sbiholdings32de2b58b5a5d5a40696e17db098a44dsvg@2x.png' %}"
                    />
                  </div>
                </div>
                <div class="targetglobal-d0857fbce3223960d">
                  <div class="targetglobal-d0857fbce3223960d1">
                    <img
                      class="targetglobal-d0857fbce3223960d-icon"
                      loading="lazy"
                      alt=""
                      src="{% static './public/targetglobald0857fbce3223960d649682020537e20svg@2x.png' %}"
                    />
                  </div>
                </div>
                <div class="image1">
                  <div class="image-fill1">
                    <img
                      class="image-icon1"
                      alt=""
                      src="{% static './public/image-1@2x.png' %}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="rectangle-container">
        <div class="rectangle-div"></div>
        <div class="copyright-symbol">
          <div class="copyright-container">
            <div class="copyright-circle"></div>
            <div class="c">c</div>
          </div>
        </div>
        <div class="company-name">
          <div class="quofix-abitrage-2024">Quofix abitrage 2024</div>
        </div>
        <div class="social-links">
          <div class="terms-and-conditions">Terms and conditions</div>
        </div>
        <div class="social-links1">
          <div class="privacy-policy">Privacy policy</div>
        </div>
        <div class="social-links2">
          <div class="cookie-policy">Cookie policy</div>
        </div>
        <div class="contact-us-button">
          <div class="contact-us">Contact Us</div>
        </div>
        <div class="social-links3">
          <img
            class="linkedin-665212-1-icon"
            alt=""
            src="{% static './public/linkedin-665212-1@2x.png' %}"
          />
        </div>
        <div class="social-links4">
          <img
            class="instagram-1362857-1-icon"
            alt=""
            src="{% static './public/instagram-1362857-1@2x.png' %}"
          />
        </div>
        <div class="social-links5">
          <img
            class="facebook-665209-1-icon"
            alt=""
            src="{% static './public/facebook-665209-1@2x.png' %}"
          />
        </div>
        <div class="logo-container">
          <img class="x-logo-1-icon" alt="" src="{% static './public/xlogo-1@2x.png' %}" />
        </div>
        <div class="social-links6">
          <img
            class="email-3178165-1-icon"
            alt=""
            src="{% static './public/email-3178165-1@2x.png' %}"
          />
        </div>
      </footer>
    </div>
  </body>
</html>
