<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/kyc-verification-1.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="kyc-verification-1" id="kycVerification1">
      <div class="value-wrapper">
        <div class="value5">Enter Error Message Here</div>
      </div>
      <div class="verification-main-layout">
        <img class="verification-main-layout-child" loading="lazy" alt="" />

        <div class="verification-main-layout-inner">
          <img
            class="frame-child34"
            loading="lazy"
            alt=""
            src="{% static './public/group-23@2x.png' %}"
          />
        </div>
        <div class="verification-navigation-layout">
          <div class="dashboard-wrapper1">
            <div class="dashboard6">Dashboard</div>
          </div>
        </div>
        <div class="rates-frame">
          <div class="rates4">Rates</div>
        </div>
        <div class="verification-navigation-layout1">
          <div class="buywithdraw-wrapper3">
            <div class="buywithdraw5">Buy/withdraw</div>
          </div>
        </div>
        <div class="transfer-wrapper2">
          <div class="transfer6">Transfer</div>
        </div>
        <input
          class="verification-main-layout-item"
          placeholder="KYC"
          type="text"
        />

        <div class="verification-main-layout-inner1">
          <div class="settings-group">
            <div class="settings3">Settings</div>
            <div class="profile-settings-layout">
              <div class="frame-parent20">
                <div class="wrapper-group-1171274900-parent4">
                  <div class="wrapper-group-11712749006">
                    <img
                      class="wrapper-group-1171274900-child4"
                      alt=""
                      src="{% static './public/group-1171274900.svg' %}"
                    />
                  </div>
                  <img
                    class="coinsrafiki-icon6"
                    loading="lazy"
                    alt=""
                    src="{% static './public/coinsrafiki.svg' %}"
                  />

                  <div class="frame-wrapper18">
                    <div class="vector-parent7">
                      <img
                        class="frame-child35"
                        alt=""
                        src="{% static './public/rectangle-40505.svg' %}"
                      />

                      <div class="enjoy-your-best6">Enjoy your best</div>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper19">
                  <button class="rectangle-parent6">
                    <div class="frame-child36"></div>
                    <div class="log-out6">Log out</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="verification-steps-content">
        <div class="verification-form-layout">
          <div class="verification-info-area">
            <div class="verification-info-details">
              <h1 class="kyc-verification">kyc verification</h1>
              <div class="verification-description">
                <div class="verify-your-identity">
                  Verify your identity to upgrade your trust score
                </div>
                <div class="note-you-cant-container">
                  <span class="note">Note</span>
                  <i class="you-cant-edit"
                    >: you can’t edit any detail once submitted</i
                  >
                </div>
              </div>
            </div>
            <i class="please-fill-in">please fill in all the provided field </i>
          </div>
          {% for messages in messages %}
          <p class ="error">hhh{{messages}}</p>
          {% endfor %}
               <form method ="post">
                {% csrf_token %}
          <div class="gender-selector">
            <div class="option">
              <input required id="male" name="Gender" type="radio" value="male">
              <label for="male">Male</label>
            </div>
            <div class="option">
              <input required id="female" name="Gender" type="radio" value="female">
              <label for="female">Female</label>
            </div>
          </div>
          
                <div class="identity-details-layout">
                  <input
                    class="value8"
                    placeholder="Enter your D.O.B (dd/mm/yyyyy)"
                    type="date"
                    name ="DOB"
                  />

                  <img
                    class="identity-details-layout-child"
                    alt=""
                    src="{% static './public/frame-7546@2x.png' %}"
                  />
                </div>
                <div class="identity-details-layout1">
                  <input
                    class="value9"
                    placeholder="Enter your Email Address"
                    type="email"
                    name="email"
                  />
                </div>
                <div class="identity-details-layout2">
                  <input
                    class="value10"
                    placeholder="Enter your Full House Address"
                    type="text"
                    name ="adress"
                  />
                </div>

                <select name="state" class="state-dropdown">
                  <option value="Abia">Abia</option>
                  <option value="Adamawa">Adamawa</option>
                  <option value="Akwa Ibom">Akwa Ibom</option>
                  <option value="Anambra">Anambra</option>
                  <option value="Bauchi">Bauchi</option>
                  <option value="Bayelsa">Bayelsa</option>
                  <option value="Benue">Benue</option>
                  <option value="Borno">Borno</option>
                  <option value="Cross River">Cross River</option>
                  <option value="Delta">Delta</option>
                  <option value="Ebonyi">Ebonyi</option>
                  <option value="Edo">Edo</option>
                  <option value="Ekiti">Ekiti</option>
                  <option value="Enugu">Enugu</option>
                  <option value="Gombe">Gombe</option>
                  <option value="Imo">Imo</option>
                  <option value="Jigawa">Jigawa</option>
                  <option value="Kaduna">Kaduna</option>
                  <option value="Kano">Kano</option>
                  <option value="Katsina">Katsina</option>
                  <option value="Kebbi">Kebbi</option>
                  <option value="Kogi">Kogi</option>
                  <option value="Kwara">Kwara</option>
                  <option value="Lagos">Lagos</option>
                  <option value="Nasarawa">Nasarawa</option>
                  <option value="Niger">Niger</option>
                  <option value="Ogun">Ogun</option>
                  <option value="Ondo">Ondo</option>
                  <option value="Osun">Osun</option>
                  <option value="Oyo">Oyo</option>
                  <option value="Plateau">Plateau</option>
                  <option value="Rivers">Rivers</option>
                  <option value="Sokoto">Sokoto</option>
                  <option value="Taraba">Taraba</option>
                  <option value="Yobe">Yobe</option>
                  <option value="Zamfara">Zamfara</option>
                </select>
                 <div class="selfie-upload-area">
            <div class="upload-file">
              <div class="upload-icon-area">
                <img
                  class="upload-icon"
                  loading="lazy"
                  alt=""
                  src="{% static './public/upload-icon.svg' %}"
                />
              </div>
             
              <input name ="photo" class="file-input" type="file" accept="image/*" />
              <div class="selfie-instructions">
              <div class="upload-a-selfie-container">
                <p class="must-match-with-your-nin-detai">
                  <i></i>Upload a selfie photo
                </p>
              </div>
            </div>
          </div>
          </div>
        </div>
          <div class="action-buttons1">
            <button class="buttons">
              <div class="download-form5">Proceed</div>
            </button>
          
          </div>
        </div>
      </div>
    </div>
  </form>

    <script>
      var kycVerification1 = document.getElementById("kycVerification1");
      if (kycVerification1) {
        kycVerification1.addEventListener("click", function (e) {
          // Please sync "kyc verification 2" to the project
        });
      }
      </script>
  </body>
</html>
