<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="css\otp-email.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="otp-email">
      <img
        class="otp-email-child"
        loading="lazy"
        alt=""
        src="./public/group-1171275084@2x.png"
      />




      <section class="form-container">
        <div class="form-fields">
          <div class="input-area">
            <h3 class="password-reset">Password Reset</h3>
            <div class="enter-the-code-container">
              <span class="enter-the-code">Enter the code Sent to </span>
              <span class="adeniyo-gmailcom">adeniyo *** @gmail.com</span>
            </div>
          </div>
      
          <div class="code-inputs">
            <div class="code-input">
              <div class="digits">
                <div class="code-entry" contenteditable></div>
              </div>
            </div>
            <div class="code-input">
              <div class="wrapper">
                <div class="div" contenteditable></div>
              </div>
            </div>
            <div class="code-input">
              <div class="container">
                <div class="div1" contenteditable></div>
              </div>
            </div>
            <div class="code-input">
              <div class="frame">
                <div class="div2" contenteditable></div>
              </div>
            </div>
          </div>
        </div>
      </section>
                <div class="action-buttons">
            <button class="download-button">
              <div class="primary-button3">
                <div class="download-form3">Verify OTP</div>
              </div>
            </button>
            <div class="didnt-get-the-container">
              <span class="didnt-get-the-container1">
                <p class="didnt-get-the">Didn’t get the OTP?</p>
                <p class="resend-otp">
                  <b>RESEND OTP</b>
                </p>
              </span>
            </div>
          </div>
          <button class="navigation1">
            <div class="go-back2">Go back</div>
          </button>
        </div>
      
    </div>
  </body>
</html>
