<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="css\phone-number-change-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="phone-number-change-1" id="phoneNumberChange1">
      <div class="website-structure">
        <img class="image-9-icon2" alt="" src="./public/image-9@2x.png" />
      </div>
      <div class="main-interface">
        <img class="main-interface-child" loading="lazy" alt="" />

        <div class="header">
          <img
            class="header-child"
            loading="lazy"
            alt=""
            src="./public/group-23@2x.png"
          />
        </div>
        <div class="navigation-tabs">
          <div class="dashboard-tab">
            <div class="dashboard4">Dashboard</div>
          </div>
        </div>
        <div class="rates-container">
          <div class="rates3">Rates</div>
        </div>
        <div class="navigation-tabs1">
          <div class="buywithdraw-wrapper1">
            <div class="buywithdraw3">Buy/withdraw</div>
          </div>
        </div>
        <div class="transfer-frame">
          <div class="transfer4">Transfer</div>
        </div>
        <nav class="profile-settings2">
          <div class="k-y-c-account2">
            <div class="kyc4">KYC</div>
          </div>
          <input class="k-y-c-account3" placeholder="Account" type="text" />

          <div class="account-details">
            <div class="wrapper-group-1171274900-parent2">
              <div class="wrapper-group-11712749004">
                <img
                  class="wrapper-group-1171274900-child2"
                  alt=""
                  src="./public/group-1171274900.svg"
                />
              </div>
              <img
                class="coinsrafiki-icon4"
                loading="lazy"
                alt=""
                src="./public/coinsrafiki.svg"
              />

              <div class="welcome-message1">
                <div class="vector-parent5">
                  <img
                    class="frame-child30"
                    alt=""
                    src="./public/rectangle-40505.svg"
                  />

                  <div class="enjoy-your-best4">Enjoy your best</div>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-settings-inner2">
            <button class="rectangle-parent4">
              <div class="frame-child31"></div>
              <div class="log-out4">Log out</div>
            </button>
          </div>
        </nav>
      </div>
      <main class="content-area">
        <section class="banner">
          <img class="image-9-icon3" alt="" src="./public/image-9@2x.png" />

          <button class="whatsapp-image-2023-01-29-at-6-wrapper">
            <img
              class="whatsapp-image-2023-01-29-at-62"
              alt=""
              src="./public/whatsapp-image-20230129-at-621-17@2x.png"
            />
          </button>
        </section>
        <div class="phone-change-form">
          <div class="phone-input-fields">
            <div class="old-phone-number">Old Phone Number</div>
            <div class="input-separator">
              <input class="separator" placeholder="" type="text" />
            </div>
          </div>
          <div class="phone-input-fields1">
            <div class="new-phone-number">New Phone Number</div>
            <div class="wrapper2">
              <input class="input1" placeholder="" type="text" />
            </div>
          </div>
          <button class="verification">
            <div class="verify1">Verify</div>
          </button>
        </div>
      </main>
    </div>

    <script>
      var phoneNumberChange1 = document.getElementById("phoneNumberChange1");
      if (phoneNumberChange1) {
        phoneNumberChange1.addEventListener("click", function (e) {
          // Please sync "phone number change 2" to the project
        });
      }
      </script>
  </body>
</html>
