<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="css\r-a-t-e.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="rate" id="rATEContainer">
      <div class="website-structure1">
        <img class="website-structure-child" loading="lazy" alt="" />

        <div class="navigation1">
          <img
            class="navigation-item"
            loading="lazy"
            alt=""
            src="./public/group-23@2x.png"
          />
        </div>
        <div class="dashboard-navigation">
          <div class="dashboard-frame">
            <div class="dashboard5">Dashboard</div>
          </div>
          <input class="information-panel" placeholder="Rates" type="text" />

          <div class="buywithdraw-wrapper2">
            <div class="buywithdraw4">Buy/withdraw</div>
          </div>
        </div>
        <div class="transfer-wrapper1">
          <div class="transfer5">Transfer</div>
        </div>
        <div class="k-y-c-information-wrapper">
          <div class="k-y-c-information">
            <div class="kyc5">KYC</div>
          </div>
        </div>
        <div class="settings-content-wrapper">
          <div class="settings-content">
            <div class="settings2">Settings</div>
            <div class="footer">
              <div class="footer-content1">
                <div class="wrapper-group-1171274900-parent3">
                  <div class="wrapper-group-11712749005">
                    <img
                      class="wrapper-group-1171274900-child3"
                      alt=""
                      src="./public/group-1171274900.svg"
                    />
                  </div>
                  <img
                    class="coinsrafiki-icon5"
                    loading="lazy"
                    alt=""
                    src="./public/coinsrafiki.svg"
                  />

                  <div class="frame-wrapper17">
                    <div class="vector-parent6">
                      <img
                        class="frame-child32"
                        alt=""
                        src="./public/rectangle-40505.svg"
                      />

                      <div class="enjoy-your-best5">Enjoy your best</div>
                    </div>
                  </div>
                </div>
                <div class="footer-content-child">
                  <button class="rectangle-parent5">
                    <div class="frame-child33"></div>
                    <div class="log-out5">Log out</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="market-data">
        <div class="market-info">
          <div class="market-title">
            <h1 class="market-rate">Market Rate</h1>
          </div>
          <div class="currency-details">
            <div class="currency-table">
              <div class="currency">Currency</div>
              <div class="currency-table-child"></div>
              <div class="funding-rate">Funding rate</div>
              <div class="black-market">Black market</div>
            </div>
            <div class="currency-table1">
              <div class="usd1">1 USD</div>
              <div class="currency-table-item"></div>
              <div class="div7">1,393.51/ $</div>
              <div class="ngn-140000">NGN 1400.00</div>
            </div>
            <div class="currency-table2">
              <div class="gbp">1 GBP</div>
              <div class="currency-table-inner"></div>
              <div class="e">1,758.18/ E</div>
              <div class="ngn-165005">NGN 1650.05</div>
            </div>
            <div class="currency-table3">
              <div class="eur1">1 EUR</div>
              <div class="line-div"></div>
              <div class="e1">1907.73/ e</div>
              <div class="ngn200009">NGN2000.09</div>
            </div>
          </div>
          <div class="trade-options-wrapper">
            <div class="trade-options">
              <button class="trade-buttons">
                <div class="buy">BUY</div>
              </button>
              <button class="trade-buttons1">
                <div class="sell1">SELL</div>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      var rATEContainer = document.getElementById("rATEContainer");
      if (rATEContainer) {
        rATEContainer.addEventListener("click", function (e) {
          window.location.href = "./a-c-c-o-u-n-t.html";
        });
      }
      </script>
  </body>
</html>
