<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css\global.css' %}" />
    <link rel="stylesheet" href="{% static 'css\reset-password.css' %}" />
    <link rel="stylesheet" href="{% static 'css\bankdetails.css' %}" />
   
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap"
    />
  </head>
  <body>
    <div class="reset-password">
      <img
        class="reset-password-child"
        loading="lazy"
        alt=""
        src="{% static './public/group-1171275084@2x.png' %}"
      />

      <section class="main-content1">
        <div class="action-buttons2">
          <div class="password-reset1">
            <h3 class="forgot-password1">Forgot Password?</h3>
            <div class="select-reset-method">
                Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
           <form  method="post">
            {% csrf_token %}
            </div>
          </div>

          <input
          class="input-fields4"
          placeholder="Enter your Email"
          type="email"
          name="email"
          required
          />
        
        
          <button type="submit" class="primary-button-wrapper1" id="frameButton2">
            <div class="primary-button8">
              <div  class="download-form10">Next</div> 
            </div>
          </button>
        </div>
    </form>
      </section>
    </div>

    <script>
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
          // Please sync "otp" to the project
        });
      }
      
      var frameButton1 = document.getElementById("frameButton1");
      if (frameButton1) {
        frameButton1.addEventListener("click", function (e) {
          // Please sync "otp" to the project
        });
      }
      
      var frameButton2 = document.getElementById("frameButton2");
      if (frameButton2) {
        frameButton2.addEventListener("click", function (e) {
          // Please sync "otp" to the project
        });
      }
      </script>
  </body>
</html>
