<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ChangePassword.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Satoshi Variable:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
    <div class="change-password">
      <div class="forgot-password-form">
        <h1 class="did-you-forget">Did you forget your password?</h1>
        <div class="please-enter-your">
          Please enter your email address to receive your password reset link
        </div>
      </div>

      <section class="reset-password-action">
     
        <div class="hand-unlocking-padlock-parent">
          <img
            class="hand-unlocking-padlock"
            loading="lazy"
            alt=""
            src="{% static './public/hand-unlocking-padlock@2x.png' %}"
          />
      

        <div class="input-fields-wrapper">
          <div class="input-fields3">
            <div class="input-area">  
              {% for messages in messages %}
              <p>{{messages}}</p>
              {% endfor %}
              <div class="enter-email-address2">Enter Email Address</div>
              <input class="email-input" name="email" type="email" />
            </div>
            <button class="submit-button-area">
              <div class="send-my-reset">  Reset password</div>
            </button>
   
         
            </div>
   
          </div>
        </div>

      </section>

    </div>
  </form>
  </body>
</html>
