<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ChangePassword1.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Satoshi Variable:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
  </head>
  <body>
    <form method= "post">
      {% csrf_token %}
    <div class="change-password1">
      <h1 class="create-a-new">Create a new password</h1>
      <section class="password-area">
        <img
          class="password-lock-icon"
          loading="lazy"
          alt=""
          src="{% static './public/password-lock@2x.png' %}"
        />

        <div class="password-fields">
          <form class="password-options-parent">
            <div class="password-options">
              <div class="password-labels">
                {% for messages in messages %}
                <p>{{messages}}</p>
                {% endfor %}
                <div class="choose-new-password">Choose New Password</div>
                <input name="password" class="confirm-label" type="password" />
              </div>
              <div class="password-labels1">
                <div class="confirm-password1">Confirm Password</div>
                <input name="password1" class="password-labels-child" type="password" />
              </div>
            </div>
            <button class="save-button">
              <div class="save-password">Save password</div>
            </button>
          </form>
        </div>
      </section>
    </div>
  </form>
  </body>
</html>
