<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/DashboardtransferFunds1.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Satoshi Variable:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="dashboardtransfer-funds1">
      <div class="navigation-container">
        <div class="navigation-container-child"></div>
        <div class="content-wrapper">
          <img
            class="icon"
            loading="lazy"
            alt=""
            src="{% static './public/20240408-161529-1@2x.png' %}"
          />
        </div>
        <div class="header2">
          <button class="main-content2">
            <img
              class="dashboard-1-14"
              alt=""
              src="{% static './public/dashboard-1-1.svg' %}"
            />

            <div class="main-view">
              <div class="dashboard5">Dashboard</div>
            </div>
          </button>
          <div class="header-content">
            <img
              class="computer-1-14"
              loading="lazy"
              alt=""
              src="{% static './public/computer-1-1.svg' %}"
            />

            <div class="transactions3">Transactions</div>
          </div>
          <div class="header-content1">
            <img
              class="log-out-1-icon4"
              loading="lazy"
              alt=""
              src="{% static './public/logout-1.svg' %}"
            />

            <div class="log-out4">Log Out</div>
          </div>
        </div>
      </div>
      <section class="action-area">
        <div class="action-panel">
          <div class="transaction-summary-card">
            <header class="transaction-info">
              <h3 class="transaction-summary">Transaction summary</h3>
              <button class="admin-actions1">
                <img
                  class="add-button-1-icon3"
                  alt=""
                  src="{% static './public/addbutton-1.svg' %}"
                />

                <div class="admin-registration-label1">
                  <div class="register-a-new3">Register a new Admin</div>
                </div>
              </button>
            </header>
          </div>
          <div class="payment-processing">
            <div class="processing-container">
              <div class="progress-indicator">
                <img
                  class="componentlottiehttpsasset-icon"
                  loading="lazy"
                  alt=""
                  src="{% static './public/componentlottiehttpsassets8lottiefilescomdatafilesk6s8jdtsdq7epjhdatajson.svg' %}"
                />
              </div>
              <div class="payment-is-being-container">
                <p class="payment-is-being-processed">
                  <b>Payment is being Processed</b>
                </p>
                <p class="blank-line1">
                  <b>&nbsp;</b>
                </p>
                <p class="account-will-be">Account will be funded soon</p>
              </div>
            </div>
          </div>
          <div class="form-container">
            <button class="button18">
              <div class="download-form">Ok, Thanks</div>
            </button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
