<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Transcation.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Satoshi Variable:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="transcation">
      <div class="homepage">
        <div class="homepage-child"></div>
        <div class="header1">
          <img
            class="header-content-icon"
            loading="lazy"
            alt=""
            src="{% static './public/20240408-161529-1@2x.png' %}"
          />
        </div>
        <div class="navigation1">
          <div class="main-content">
            <img
              class="dashboard-1-12"
              loading="lazy"
              alt=""
              src="{% static './public/dashboard-1-1.svg' %}"
            />

            <div class="dashboard-container">
              <div class="dashboard3">Dashboard</div>
            </div>
          </div>
          <button class="navigation-items">
            <input class="computer-1-12" type="checkbox" />

            <div class="transaction">Transaction</div>
          </button>
          <div class="navigation-items1">
            <img
              class="log-out-1-icon2"
              loading="lazy"
              alt=""
              src="{% static './public/logout-1.svg' %}"
            />

            <div class="log-out2">Log Out</div>
          </div>
        </div>
      </div>
      <main class="transaction-content-wrapper">
        <section class="transaction-content">
          <h2 class="transaction1">Transaction</h2>
          <div class="transaction-options1">
            <div class="options-bar">
              <nav class="options-labels">
                <div class="transaction-history">
                  <div class="all-transaction">All Transaction</div>
                  <div class="transaction-history-child"></div>
                </div>
                <div class="withdrawal">Withdrawal</div>
                <div class="exchange">Exchange</div>
                <div class="fund-wallet">Fund Wallet</div>
                <div class="transfer-funds1">Transfer Funds</div>
              </nav>
              <form class="table">
                <div class="column">
                  <div class="table-header-cell">
                    <div class="table-header">
                      <div class="action-title">Account ID</div>
                    </div>
                  </div>
                  <div class="table-cell">
                    <div class="checkbox">
                      <div class="checkbox-base"></div>
                    </div>
                    <div class="text">#3065</div>
                  </div>
                  <div class="table-cell1">
                    <div class="action-items">23445654AC</div>
                  </div>
                  <div class="table-cell2">
                    <div class="text1">23445654AC</div>
                  </div>
                  <div class="table-cell3">
                    <div class="text2">23445654AC</div>
                  </div>
                  <div class="table-cell4">
                    <div class="checkbox1">
                      <div class="checkbox-base1"></div>
                    </div>
                    <div class="text3">#3064</div>
                  </div>
                  <div class="table-cell5">
                    <div class="text4">23445654AC</div>
                  </div>
                  <div class="table-cell6">
                    <div class="text5">23445654AC</div>
                  </div>
                  <div class="table-cell7">
                    <div class="text6">23445654AC</div>
                  </div>
                  <div class="table-cell8">
                    <div class="text7">23445654AC</div>
                  </div>
                  <div class="table-cell9">
                    <div class="text8">23445654AC</div>
                  </div>
                  <div class="table-cell10">
                    <div class="text9">23445654AC</div>
                  </div>
                  <div class="table-cell11">
                    <div class="checkbox2">
                      <div class="checkbox-base2"></div>
                    </div>
                    <div class="text10">#3059</div>
                  </div>
                  <div class="table-cell12">
                    <div class="checkbox3">
                      <div class="checkbox-base3"></div>
                    </div>
                    <div class="text11">#3058</div>
                  </div>
                  <div class="table-cell13">
                    <div class="checkbox4">
                      <div class="checkbox-base4"></div>
                    </div>
                    <div class="text12">#3057</div>
                  </div>
                </div>
                <div class="column1">
                  <button class="table-header-cell1">
                    <div class="table-header1">
                      <div class="column-titles">Date/Time</div>
                    </div>
                  </button>
                  <div class="table-cell14">
                    <div class="text13">Jan 6, 2022</div>
                  </div>
                  <div class="table-cell15">
                    <div class="data-values">
                      <p class="jan-6-2024">Jan 6, 2024</p>
                      <p class="p4">23:08</p>
                    </div>
                  </div>
                  <div class="table-cell16">
                    <div class="text14">Jan 6, 2022</div>
                  </div>
                  <div class="table-cell17">
                    <div class="data-values1">
                      <p class="jan-6-2022">Jan 6, 2022</p>
                      <p class="p5">10:40</p>
                    </div>
                  </div>
                  <div class="table-cell18">
                    <div class="data-values2">
                      <p class="jan-6-20221">Jan 6, 2022</p>
                      <p class="p6">12:34</p>
                    </div>
                  </div>
                  <div class="table-cell19">
                    <div class="data-values3">
                      <p class="jan-7-2022">Jan 7, 2022</p>
                      <p class="p7">03:12</p>
                    </div>
                  </div>
                  <div class="table-cell20">
                    <div class="data-values4">
                      <p class="jan-7-20221">Jan 7, 2022</p>
                      <p class="p8">22:07</p>
                    </div>
                  </div>
                  <div class="table-cell21">
                    <div class="data-values5">
                      <p class="jan-7-20222">Jan 7, 2022</p>
                      <p class="p9">22:07</p>
                    </div>
                  </div>
                  <div class="table-cell22">
                    <div class="data-values6">
                      <p class="jan-8-2022">Jan 8, 2022</p>
                      <p class="p10">22:07</p>
                    </div>
                  </div>
                  <div class="table-cell23">
                    <div class="data-values7">
                      <p class="jan-8-20221">Jan 8, 2022</p>
                      <p class="p11">22:07</p>
                    </div>
                  </div>
                  <div class="table-cell24">
                    <div class="data-values8">
                      <p class="jan-8-20222">Jan 8, 2022</p>
                      <p class="p12">22:07</p>
                    </div>
                  </div>
                  <div class="table-cell25">
                    <div class="text15">Jan 3, 2022</div>
                  </div>
                  <div class="table-cell26">
                    <div class="text16">Jan 3, 2022</div>
                  </div>
                  <div class="table-cell27">
                    <div class="text17">Jan 3, 2022</div>
                  </div>
                </div>
                <div class="column2">
                  <button class="table-header-cell2">
                    <div class="table-header2">
                      <div class="detail-title">Transaction Status</div>
                    </div>
                  </button>
                  <div class="table-cell28">
                    <div class="badge">
                      <div class="badge-base">
                        <img
                          class="check-icon"
                          alt=""
                          src="{% static './public/check.svg' %}"
                        />

                        <div class="text18">Paid</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell29">
                    <div class="badge1">
                      <div class="badge-base1">
                        <img
                          class="check-icon1"
                          alt=""
                          src="{% static './public/check.svg' %}"
                        />

                        <div class="text19">Paid</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell30">
                    <div class="button">
                      <div class="button-base">
                        <div class="button-labels">Approve</div>
                      </div>
                    </div>
                    <div class="button1">
                      <div class="button-base1">
                        <div class="button-labels1">Reject</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell31">
                    <div class="button2">
                      <div class="button-base2">
                        <div class="text20">Approve</div>
                      </div>
                    </div>
                    <div class="button3">
                      <div class="button-base3">
                        <div class="text21">Reject</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell32">
                    <div class="button4">
                      <div class="button-base4">
                        <div class="text22">Approve</div>
                      </div>
                    </div>
                    <div class="button5">
                      <div class="button-base5">
                        <div class="text23">Reject</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell33">
                    <div class="button6">
                      <div class="button-base6">
                        <div class="text24">Approve</div>
                      </div>
                    </div>
                    <div class="button7">
                      <div class="button-base7">
                        <div class="text25">Reject</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell34">
                    <div class="button8">
                      <div class="button-base8">
                        <div class="text26">Approve</div>
                      </div>
                    </div>
                    <div class="button9">
                      <div class="button-base9">
                        <div class="text27">Reject</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell35">
                    <div class="button10">
                      <div class="button-base10">
                        <div class="text28">Approve</div>
                      </div>
                    </div>
                    <div class="button11">
                      <div class="button-base11">
                        <div class="text29">Reject</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell36">
                    <div class="button12">
                      <div class="button-base12">
                        <div class="text30">Approve</div>
                      </div>
                    </div>
                    <div class="button13">
                      <div class="button-base13">
                        <div class="text31">Reject</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell37">
                    <div class="button14">
                      <div class="button-base14">
                        <div class="text32">Approve</div>
                      </div>
                    </div>
                    <div class="button15">
                      <div class="button-base15">
                        <div class="text33">Reject</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell38">
                    <div class="button16">
                      <div class="button-base16">
                        <div class="text34">Approve</div>
                      </div>
                    </div>
                    <div class="button17">
                      <div class="button-base17">
                        <div class="text35">Reject</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell39">
                    <div class="badge2">
                      <div class="badge-base2">
                        <img
                          class="check-icon2"
                          alt=""
                          src="{% static './public/check.svg' %}"
                        />

                        <div class="text36">Paid</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell40">
                    <div class="badge3">
                      <div class="badge-base3">
                        <img
                          class="check-icon3"
                          alt=""
                          src="{% static './public/check.svg' %}"
                        />

                        <div class="text37">Paid</div>
                      </div>
                    </div>
                  </div>
                  <div class="table-cell41">
                    <div class="badge4">
                      <div class="badge-base4">
                        <img
                          class="check-icon4"
                          alt=""
                          src="{% static './public/check.svg' %}"
                        />

                        <div class="text38">Paid</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column3">
                  <div class="table-header-cell3">
                    <div class="table-header3">
                      <div class="text39">Amount</div>
                    </div>
                  </div>
                  <div class="table-cell42">
                    <div class="text40">Monthly subscription</div>
                  </div>
                  <div class="table-cell43">
                    <div class="text41">Monthly subscription</div>
                  </div>
                  <div class="table-cell44">
                    <div class="text42">#2333.03</div>
                  </div>
                  <div class="table-cell45">
                    <div class="text43">#2333.03</div>
                  </div>
                  <div class="table-cell46">
                    <div class="text44">$2333.03</div>
                  </div>
                  <div class="table-cell47">
                    <div class="text45">$2333.03</div>
                  </div>
                  <div class="table-cell48">
                    <div class="text46">$2333.03</div>
                  </div>
                  <div class="table-cell49">
                    <div class="text47">#2333.03</div>
                  </div>
                  <div class="table-cell50">
                    <div class="text48">$2333.03</div>
                  </div>
                  <div class="table-cell51">
                    <div class="text49">$2333.03</div>
                  </div>
                  <div class="table-cell52">
                    <div class="text50">#2333.03</div>
                  </div>
                  <div class="table-cell53">
                    <div class="text51">Monthly subscription</div>
                  </div>
                  <div class="table-cell54">
                    <div class="text52">Monthly subscription</div>
                  </div>
                  <div class="table-cell55">
                    <div class="text53">Monthly subscription</div>
                  </div>
                </div>
                <div class="column4">
                  <div class="table-header-cell4">
                    <div class="table-header4">
                      <div class="text54">Transaction Type</div>
                    </div>
                  </div>
                  <div class="table-cell56">
                    <div class="text55">Monthly subscription</div>
                  </div>
                  <div class="table-cell57">
                    <div class="text56">Withdrawal</div>
                  </div>
                  <div class="table-cell58">
                    <div class="text57">Monthly subscription</div>
                  </div>
                  <div class="table-cell59">
                    <div class="text58">Withdrawal</div>
                  </div>
                  <div class="table-cell60">
                    <div class="text59">Fund wallet</div>
                  </div>
                  <div class="table-cell61">
                    <div class="text60">Fund wallet</div>
                  </div>
                  <div class="table-cell62">
                    <div class="text61">exchange</div>
                  </div>
                  <div class="table-cell63">
                    <div class="text62">Withdrawal</div>
                  </div>
                  <div class="table-cell64">
                    <div class="text63">exchange</div>
                  </div>
                  <div class="table-cell65">
                    <div class="text64">Transfer Funds</div>
                  </div>
                  <div class="table-cell66">
                    <div class="text65">withdrawal</div>
                  </div>
                  <div class="table-cell67">
                    <div class="text66">Monthly subscription</div>
                  </div>
                  <div class="table-cell68">
                    <div class="text67">Monthly subscription</div>
                  </div>
                  <div class="table-cell69">
                    <div class="text68">Monthly subscription</div>
                  </div>
                </div>
                <div class="table-cell70">
                  <img
                    class="avatar-icon"
                    alt=""
                    src="{% static './public/avatar@2x.png' %}"
                  />

                  <div class="text-and-supporting-text">
                    <div class="text69">Phoenix Baker</div>
                    <div class="supporting-text">phoenix@untitledui.com</div>
                  </div>
                </div>
                <div class="table-cell71">
                  <div class="avatar">
                    <div class="text70">LS</div>
                  </div>
                  <div class="text-and-supporting-text1">
                    <div class="text71">Lana Steiner</div>
                    <div class="supporting-text1">lana@untitledui.com</div>
                  </div>
                </div>
                <div class="detail-column">
                  <div class="table-header-cell5">
                    <input
                      class="table-header5"
                      placeholder="User Information"
                      type="text"
                    />
                  </div>
                  <div class="table-cell72">
                    <div class="avatar-wrapper">
                      <img
                        class="avatar-icon1"
                        loading="lazy"
                        alt=""
                        src="{% static './public/avatar-1@2x.png' %}"
                      />
                    </div>
                    <div class="text-and-supporting-text2">
                      <div class="user-names">Adedamola Oyewale</div>
                      <div class="supporting-text2">
                        UBA . 2123433988 . adedamola oyemole
                      </div>
                    </div>
                  </div>
                  <div class="table-cell73">
                    <div class="avatar-container">
                      <div class="avatar1">
                        <div class="avatar-names">AM</div>
                      </div>
                    </div>
                    <div class="text-and-supporting-text3">
                      <div class="text72">Aliu Muibi</div>
                      <div class="supporting-text3">
                        UBA . 2123433988 . adedamola oyemole
                      </div>
                    </div>
                  </div>
                  <div class="table-cell74">
                    <div class="avatar-frame">
                      <img
                        class="avatar-icon2"
                        loading="lazy"
                        alt=""
                        src="{% static './public/avatar-2@2x.png' %}"
                      />
                    </div>
                    <div class="text-and-supporting-text4">
                      <div class="text73">Agnes Aba</div>
                      <div class="supporting-text4">
                        UBA . 2123433988 . adedamola oyemole
                      </div>
                    </div>
                  </div>
                  <div class="table-cell75">
                    <div class="avatar-wrapper1">
                      <div class="avatar2">
                        <div class="text74">AM</div>
                      </div>
                    </div>
                    <div class="text-and-supporting-text5">
                      <div class="text75">Aliu Muibi</div>
                      <div class="supporting-text5">
                        UBA . 2123433988 . adedamola oyemole
                      </div>
                    </div>
                  </div>
                  <div class="table-cell76">
                    <div class="avatar-wrapper2">
                      <img
                        class="avatar-icon3"
                        loading="lazy"
                        alt=""
                        src="{% static './public/avatar-2@2x.png' %}"
                      />
                    </div>
                    <div class="text-and-supporting-text6">
                      <div class="text76">Agnes Aba</div>
                      <div class="supporting-text6">
                        UBA . 2123433988 . adedamola oyemole
                      </div>
                    </div>
                  </div>
                  <div class="table-cell77">
                    <div class="avatar-wrapper3">
                      <div class="avatar3">
                        <div class="text77">BE</div>
                      </div>
                    </div>
                    <div class="text-and-supporting-text7">
                      <div class="text78">Blessing Ezewanfor</div>
                      <div class="supporting-text7">
                        UBA . 2123433988 . adedamola oyemole
                      </div>
                    </div>
                  </div>
                  <div class="table-cell78">
                    <div class="avatar-wrapper4">
                      <img
                        class="avatar-icon4"
                        loading="lazy"
                        alt=""
                        src="{% static './public/avatar-4@2x.png' %}"
                      />
                    </div>
                    <div class="text-and-supporting-text8">
                      <div class="text79">Drew Cano</div>
                      <div class="supporting-text8">
                        UBA . 2123433988 . adedamola oyemole
                      </div>
                    </div>
                  </div>
                  <div class="table-cell79">
                    <div class="avatar-wrapper5">
                      <div class="avatar4">
                        <div class="text80">BE</div>
                      </div>
                    </div>
                    <div class="text-and-supporting-text9">
                      <div class="text81">Blessing Ezewanfor</div>
                      <div class="supporting-text9">
                        UBA . 2123433988 . adedamola oyemole
                      </div>
                    </div>
                  </div>
                  <div class="table-cell80">
                    <div class="avatar-wrapper6">
                      <img
                        class="avatar-icon5"
                        loading="lazy"
                        alt=""
                        src="{% static './public/avatar-4@2x.png' %}"
                      />
                    </div>
                    <div class="text-and-supporting-text10">
                      <div class="text82">Drew Cano</div>
                      <div class="supporting-text10">
                        UBA . 2123433988 . adedamola oyemole
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-cell81">
                  <img
                    class="avatar-icon6"
                    alt=""
                    src="{% static './public/avatar-6@2x.png' %}"
                  />

                  <div class="text-and-supporting-text11">
                    <div class="text83">Orlando Diggs</div>
                    <div class="supporting-text11">orlando@untitledui.com</div>
                  </div>
                </div>
                <div class="table-cell82">
                  <img
                    class="avatar-icon7"
                    alt=""
                    src="{% static './public/avatar-7@2x.png' %}"
                  />

                  <div class="text-and-supporting-text12">
                    <div class="text84">Andi Lane</div>
                    <div class="supporting-text12">andi@untitledui.com</div>
                  </div>
                </div>
                <div class="table-cell83">
                  <img
                    class="avatar-icon8"
                    alt=""
                    src="{% static './public/avatar-8@2x.png' %}"
                  />

                  <div class="text-and-supporting-text13">
                    <div class="text85">Kate Morrison</div>
                    <div class="supporting-text13">kate@untitledui.com</div>
                  </div>
                </div>
                <div class="column5">
                  <div class="table-header-cell6">
                    <div class="table-header6">
                      <div class="text86">Column</div>
                    </div>
                  </div>
                  <div class="table-cell84">
                    <div class="text87">Text</div>
                  </div>
                  <div class="table-cell85">
                    <div class="text88">Text</div>
                  </div>
                  <div class="table-cell86">
                    <div class="text89">Text</div>
                  </div>
                  <div class="table-cell87">
                    <div class="text90">Text</div>
                  </div>
                  <div class="table-cell88">
                    <div class="text91">Text</div>
                  </div>
                  <div class="table-cell89">
                    <div class="text92">Text</div>
                  </div>
                  <div class="table-cell90">
                    <div class="text93">Text</div>
                  </div>
                  <div class="table-cell91">
                    <div class="text94">Text</div>
                  </div>
                  <div class="table-cell92">
                    <div class="text95">Text</div>
                  </div>
                  <div class="table-cell93">
                    <div class="text96">Text</div>
                  </div>
                </div>
                <div class="column6">
                  <div class="table-header-cell7">
                    <div class="table-header7">
                      <div class="text97">Column</div>
                    </div>
                  </div>
                  <div class="table-cell94">
                    <div class="text98">Text</div>
                  </div>
                  <div class="table-cell95">
                    <div class="text99">Text</div>
                  </div>
                  <div class="table-cell96">
                    <div class="text100">Text</div>
                  </div>
                  <div class="table-cell97">
                    <div class="text101">Text</div>
                  </div>
                  <div class="table-cell98">
                    <div class="text102">Text</div>
                  </div>
                  <div class="table-cell99">
                    <div class="text103">Text</div>
                  </div>
                  <div class="table-cell100">
                    <div class="text104">Text</div>
                  </div>
                  <div class="table-cell101">
                    <div class="text105">Text</div>
                  </div>
                  <div class="table-cell102">
                    <div class="text106">Text</div>
                  </div>
                  <div class="table-cell103">
                    <div class="text107">Text</div>
                  </div>
                </div>
                <div class="column7">
                  <div class="table-header-cell8">
                    <div class="table-header8">
                      <div class="text108">Column</div>
                    </div>
                  </div>
                  <div class="table-cell104">
                    <div class="text109">Text</div>
                  </div>
                  <div class="table-cell105">
                    <div class="text110">Text</div>
                  </div>
                  <div class="table-cell106">
                    <div class="text111">Text</div>
                  </div>
                  <div class="table-cell107">
                    <div class="text112">Text</div>
                  </div>
                  <div class="table-cell108">
                    <div class="text113">Text</div>
                  </div>
                  <div class="table-cell109">
                    <div class="text114">Text</div>
                  </div>
                  <div class="table-cell110">
                    <div class="text115">Text</div>
                  </div>
                  <div class="table-cell111">
                    <div class="text116">Text</div>
                  </div>
                  <div class="table-cell112">
                    <div class="text117">Text</div>
                  </div>
                  <div class="table-cell113">
                    <div class="text118">Text</div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
