<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Transcation1.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Satoshi Variable:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="transcation1">
      <main class="homepage1">
        <div class="content">
          <div class="content-child"></div>
          <div class="navigation2">
            <img
              class="logo-icon"
              loading="lazy"
              alt=""
              src="{% static './public/20240408-161529-1@2x.png' %}"
            />
          </div>
          <div class="header3">
            <div class="dashboard-1-1-parent">
              <img
                class="dashboard-1-15"
                loading="lazy"
                alt=""
                src="{% static './public/dashboard-1-1.svg' %}"
              />

              <div class="dashboard-frame">
                <div class="dashboard6">Dashboard</div>
              </div>
            </div>
            <button class="navigation-items4">
              <input class="computer-1-15" type="checkbox" />

              <div class="transaction2">Transaction</div>
            </button>
            <div class="navigation-items5">
              <img
                class="log-out-1-icon5"
                loading="lazy"
                alt=""
                src="{% static './public/logout-1.svg' %}"
              />

              <div class="log-out5">Log Out</div>
            </div>
          </div>
        </div>
        <section class="history-layout-wrapper">
          <div class="history-layout">
            <h3 class="transaction-history1">Transaction History</h3>
            <div class="rectangle-parent6">
              <div class="frame-child22"></div>
              <div class="history-container1">
                <div class="history-details">
                  <div class="transcation-history1">Transcation History</div>
                </div>
                <button class="group-button">
                  <div class="frame-child23"></div>
                  <div class="past-transactions">
                    <img class="union-icon1" alt="" src="{% static './public/union1.svg' %}" />
                  </div>
                  <div class="today">Today</div>
                </button>
              </div>
              <div class="transaction-details">
                <div class="transaction-details-child"></div>
                <div class="transaction-pair">
                  <div class="usdngn2">USD/NGN</div>
                  <div class="to-4000-15092023-container1">
                    <p class="to2">$100 to #4000</p>
                    <p class="p14">15/09/2023 . 19:30</p>
                  </div>
                </div>
                <div class="transaction-status1">
                  <div class="pending2">Pending</div>
                </div>
                <img
                  class="solardollar-bold-duotone-icon5"
                  loading="lazy"
                  alt=""
                  src="{% static './public/solardollarboldduotone1.svg' %}"
                />
              </div>
              <div class="rectangle-parent7">
                <div class="frame-child24"></div>
                <div class="currency-item">
                  <img
                    class="claritypound-solid-icon3"
                    loading="lazy"
                    alt=""
                    src="{% static './public/claritypoundsolid-1.svg' %}"
                  />

                  <div class="currency-pair-details">
                    <div class="currency-direction">
                      <div class="eurngn1">EUR/NGN</div>
                      <div class="e2000-to-40-container1">
                        <p class="e20001">E2000 to #40</p>
                        <p class="p15">20/20/2001 . 08:00</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="approved-frame">
                  <div class="approved2">Approved</div>
                </div>
              </div>
              <div class="currency-item1">
                <div class="currency-item-child"></div>
                <div class="currency-pair-details1">
                  <div class="audngn1">AUD/NGN</div>
                  <div class="to-5000-23122003-container1">
                    <p class="to3">$700 to #5000</p>
                    <p class="p16">23/12/2003 . 12:45</p>
                  </div>
                </div>
                <div class="transaction-status2">
                  <div class="pending3">Pending</div>
                </div>
                <img
                  class="solardollar-bold-duotone-icon6"
                  loading="lazy"
                  alt=""
                  src="{% static './public/solardollarboldduotone-12.svg' %}"
                />
              </div>
              <div class="rectangle-parent8">
                <div class="frame-child25"></div>
                <div class="frame-parent11">
                  <img
                    class="frame-child26"
                    alt=""
                    src="{% static './public/group-1171275067-1.svg' %}"
                  />

                  <div class="currency-pair-details2">
                    <div class="currency-direction1">
                      <div class="yenngn1">YEN/NGN</div>
                      <div class="y400-to-5000-container1">
                        <p class="y4001">Y400 to $5000</p>
                        <p class="p17">20/3/2004 . 13:40</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="transaction-status3">
                  <div class="approved3">Approved</div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent9">
              <div class="frame-child27"></div>
              <div class="frame-parent12">
                <div class="transcation-history-wrapper">
                  <div class="transcation-history2">Transcation History</div>
                </div>
                <button class="frame-button">
                  <div class="frame-child28"></div>
                  <div class="yesterday">Yesterday</div>
                </button>
              </div>
              <div class="union-parent">
                <img
                  class="union-icon2"
                  loading="lazy"
                  alt=""
                  src="{% static './public/union-1.svg' %}"
                />

                <div class="rectangle-parent10">
                  <div class="frame-child29"></div>
                  <div class="usdngn-parent">
                    <div class="usdngn3">USD/NGN</div>
                    <div class="to-4000-15092023-container2">
                      <p class="to4">$100 to #4000</p>
                      <p class="p18">15/09/2023 . 19:30</p>
                    </div>
                  </div>
                  <div class="status-label">
                    <div class="pending4">Pending</div>
                  </div>
                </div>
              </div>
              <div class="solardollar-bold-duotone-parent">
                <img
                  class="solardollar-bold-duotone-icon7"
                  alt=""
                  src="{% static './public/solardollarboldduotone-21.svg' %}"
                />

                <div class="rectangle-parent11">
                  <div class="frame-child30"></div>
                  <div class="claritypound-solid-container">
                    <img
                      class="claritypound-solid-icon4"
                      loading="lazy"
                      alt=""
                      src="{% static './public/claritypoundsolid-1.svg' %}"
                    />

                    <div class="currency-pair-details3">
                      <div class="currency-direction2">
                        <div class="eurngn2">EUR/NGN</div>
                        <div class="e2000-to-40-container2">
                          <p class="e20002">E2000 to #40</p>
                          <p class="p19">20/20/2001 . 08:00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="status-label1">
                    <div class="approved4">Approved</div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent12">
                <div class="frame-child31"></div>
                <div class="audngn-group">
                  <div class="audngn2">AUD/NGN</div>
                  <div class="to-5000-23122003-container2">
                    <p class="to5">$700 to #5000</p>
                    <p class="p20">23/12/2003 . 12:45</p>
                  </div>
                </div>
                <div class="pending-container">
                  <div class="pending5">Pending</div>
                </div>
              </div>
              <div class="solardollar-bold-duotone-group">
                <img
                  class="solardollar-bold-duotone-icon8"
                  alt=""
                  src="{% static './public/solardollarboldduotone2.svg' %}"
                />

                <div class="frame-child32"></div>
                <div class="frame-parent13">
                  <img
                    class="frame-child33"
                    loading="lazy"
                    alt=""
                    src="{% static './public/group-1171275067-1.svg' %}"
                  />

                  <div class="frame-wrapper4">
                    <div class="yenngn-group">
                      <div class="yenngn2">YEN/NGN</div>
                      <div class="y400-to-5000-container2">
                        <p class="y4002">Y400 to $5000</p>
                        <p class="p21">20/3/2004 . 13:40</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="approved-wrapper1">
                  <div class="approved5">Approved</div>
                </div>
              </div>
            </div>
            <div class="transaction-card">
              <div class="card-divider"></div>
              <div class="history-footer">
                <div class="history-footer-title">
                  <div class="transcation-history3">Transcation History</div>
                </div>
                <div class="footer-space">
                  <div class="footer-space-child"></div>
                  <div class="placeholder5">29/03/24</div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-content-child"></div>
                <div class="currency-details">
                  <div class="usdngn4">USD/NGN</div>
                  <div class="to-4000-15092023-container3">
                    <p class="to6">$100 to #4000</p>
                    <p class="p22">15/09/2023 . 19:30</p>
                  </div>
                </div>
                <div class="pending-details-wrapper">
                  <div class="pending-details">
                    <div class="pending6">Pending</div>
                    <img
                      class="union-icon3"
                      loading="lazy"
                      alt=""
                      src="{% static './public/union-2.svg' %}"
                    />
                  </div>
                </div>
              </div>
              <div class="card-content1">
                <img
                  class="solardollar-bold-duotone-icon9"
                  alt=""
                  src="{% static './public/solardollarboldduotone-3.svg' %}"
                />

                <div class="rectangle-parent13">
                  <div class="frame-child34"></div>
                  <div class="claritypound-solid-parent1">
                    <img
                      class="claritypound-solid-icon5"
                      loading="lazy"
                      alt=""
                      src="{% static './public/claritypoundsolid-1.svg' %}"
                    />

                    <div class="currency-direction-wrapper">
                      <div class="currency-direction3">
                        <div class="eurngn3">EUR/NGN</div>
                        <div class="e2000-to-40-container3">
                          <p class="e20003">E2000 to #40</p>
                          <p class="p23">20/20/2001 . 08:00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="approved-status">
                    <div class="approved6">Approved</div>
                  </div>
                </div>
              </div>
              <div class="card-content2">
                <div class="card-content-item"></div>
                <div class="audngn-container">
                  <div class="audngn3">AUD/NGN</div>
                  <div class="to-5000-23122003-container3">
                    <p class="to7">$700 to #5000</p>
                    <p class="p24">23/12/2003 . 12:45</p>
                  </div>
                </div>
                <div class="pending-frame">
                  <div class="pending7">Pending</div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div class="footer-content-wrapper">
        <div class="footer-content">
          <img
            class="solardollar-bold-duotone-icon10"
            alt=""
            src="{% static './public/solardollarboldduotone-4.svg' %}"
          />

          <div class="rectangle-parent14">
            <div class="frame-child35"></div>
            <div class="frame-wrapper5">
              <img
                class="frame-child36"
                alt=""
                src="{% static './public/group-1171275067-1.svg' %}"
              />
            </div>
            <div class="footer-labels">
              <div class="pair-direction">
                <div class="yenngn3">YEN/NGN</div>
                <div class="y400-to-5000-container3">
                  <p class="y4003">Y400 to $5000</p>
                  <p class="p25">20/3/2004 . 13:40</p>
                </div>
              </div>
            </div>
            <div class="footer-status">
              <div class="approved7">Approved</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
