.create-a-new {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.password-lock-icon {
  width: 460px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.choose-new-password {
  position: relative;
  font-size: var(--button-text-size);
  font-family: var(--text-sm-semibold);
  color: var(--color-darkslategray);
  text-align: left;
}
.confirm-label {
  border: 1px solid var(--color-darkslategray);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 48px;
  position: relative;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 250px;
}
.password-labels {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.confirm-password1 {
  position: relative;
  font-size: var(--button-text-size);
  font-family: var(--text-sm-semibold);
  color: var(--color-darkslategray);
  text-align: left;
}
.password-labels-child {
  border: 1px solid var(--color-darkslategray);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 48px;
  position: relative;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 250px;
}
.password-labels1,
.password-options {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.password-options {
  gap: var(--gap-base);
}
.save-password {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-work-sans);
  color: var(--color-ghostwhite-100);
  text-align: left;
}
.password-options-parent,
.save-button {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.save-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base-5) var(--padding-xl);
  background-color: var(--color-royalblue-200);
  border-radius: var(--br-5xs);
  flex-direction: row;
  justify-content: center;
}
.save-button:hover {
  background-color: var(--color-royalblue-300);
}
.password-options-parent {
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.password-fields {
  flex: 1;
  flex-direction: column;
  padding: 91px 0 0;
  box-sizing: border-box;
  min-width: 330px;
  max-width: 100%;
}
.change-password1,
.password-area,
.password-fields {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.password-area {
  width: 1162px;
  flex-direction: row;
  gap: var(--gap-175xl);
  max-width: 100%;
}
.change-password1 {
  width: 100%;
  position: relative;
  background-color: var(--bckgd);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-77xl) var(--padding-101xl) var(--padding-263xl);
  box-sizing: border-box;
  gap: var(--gap-125xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-300);
  font-family: var(--font-work-sans);
}
@media screen and (max-width: 1200px) {
  .password-area {
    gap: var(--gap-78xl);
  }
  .change-password1 {
    gap: var(--gap-53xl);
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .create-a-new {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }
  .password-lock-icon {
    flex: 1;
  }
  .password-area {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .password-options-parent {
    gap: var(--gap-9xl);
  }
  .password-area {
    gap: var(--gap-29xl);
  }
  .change-password1 {
    gap: var(--gap-17xl);
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .create-a-new {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .save-password {
    font-size: var(--button-text-size);
  }
  .password-fields {
    padding-top: var(--padding-40xl);
    box-sizing: border-box;
  }
  .password-area {
    gap: var(--gap-5xl);
  }
  .change-password1 {
    gap: var(--gap-lg);
  }
}
