.reset-password-child {
  width: 180px;
  height: 70px;
  position: relative;
  object-fit: cover;
}
.forgot-password1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.select-reset-method {
  position: relative;
  font-size: var(--font-size-sm);
}
.password-reset1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) 0 var(--padding-xl);
  gap: var(--gap-5xs);
}
.download-form8 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-raleway);
  color: var(--color-steelblue-100);
  text-align: left;
  display: inline-block;
  min-width: 42px;
}
.primary-button-container,
.primary-button6 {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
}
.primary-button6 {
  border-radius: var(--br-55xl-5);
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-mini) var(--padding-41xl);
  white-space: nowrap;
}
.primary-button-container {
  cursor: pointer;
  border: 1px solid var(--color-steelblue-100);
  padding: 0;
  border-radius: var(--br-13xl);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.download-form9 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-raleway);
  color: var(--color-steelblue-100);
  text-align: left;
  display: inline-block;
  min-width: 114px;
}
.primary-button-frame,
.primary-button7 {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
}
.primary-button7 {
  border-radius: var(--br-55xl-5);
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-mini) var(--padding-41xl);
  white-space: nowrap;
}
.primary-button-frame {
  cursor: pointer;
  border: 1px solid var(--color-steelblue-100);
  padding: 0;
  border-radius: var(--br-13xl);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.download-form10 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.primary-button8 {
  border-radius: var(--br-55xl-5);
  background-color: var(--color-steelblue-200);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-41xl);
}
.action-buttons2,
.primary-button-wrapper1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.primary-button-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  align-items: flex-start;
}
.action-buttons2 {
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  align-items: center;
  padding: var(--padding-xl) var(--padding-31xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.main-content1,
.reset-password {
  display: flex;
  align-items: flex-start;
}
.main-content1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--sub-text);
}
.reset-password {
  width: 100%;
  position: relative;
  background-color: var(--color-lavender);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-16xl) 286px;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 725px) {
  .reset-password {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .forgot-password1 {
    font-size: var(--font-size-lgi);
  }
  .action-buttons2 {
    gap: var(--gap-base);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
}
